@*<script src="~/Scripts/Map/mapDecorator.js"></script>*@
<div id="mapdiv"></div>
@section Scripts{
    <script src="~/Scripts/Map/anmap/ammap.js"></script>
    <script src="~/Scripts/Map/anmap/continentsLow.js"></script>
    <script src="~/Scripts/Map/anmap/worldLow.js"></script>
    <script src="~/Scripts/Map/mapDecorator.js"></script>
}
@section Styles {
    <link href="~/Content/ammap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
}